{
  "$schema": "https://json.schemastore.org/eslintrc",
  "extends": ["../../.eslintrc"],
  "overrides": [
    {
      "files": ["japa.unit.ts"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": false
          }
        ]
      }
    }
  ]
}
